<div class="catbar">
  <button type="button" class="catbar-back" (click)="back.emit()">‹ {{ 'common.back' | i18next }}</button>

  <div class="catbar-scroll" #scroller>
    <button
      type="button"
      class="cat-pill"
      [class.active]="!selectedId"
      (click)="pick(null, $event)">
      <span class="cat-emoji">🧰</span><span>{{ 'all' | i18next }}</span>
    </button>
    <button
      type="button"
      class="cat-pill"
      *ngFor="let c of categories"
      [class.active]="selectedId === c._id"
      (click)="pick(c._id, $event)">
      <img *ngIf="c.icon" [src]="c.icon" alt="" />
      <span>{{ c.name }}</span>
    </button>
    <button
      type="button"
      class="cat-pill"
      [class.active]="selectedId === '1'"
      (click)="pick('1', $event)">
      <span class="cat-emoji">❄️</span><span>{{ 'common.other' | i18next }}</span>
    </button>
  </div>

  <button type="button" class="catbar-history" (click)="history.emit()" title="History">🕘 <span>History</span></button>
</div>
